@font-face {
    font-family: "Rowdies";
    src: url("../../assets/fonts/Rowdies-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Rowdies";
    src: url("../../assets/fonts/Rowdies-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Rowdies";
    src: url("../../assets/fonts/Rowdies-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "AbrilFatface";
    src: url("../../assets/fonts/AbrilFatface-Regular.ttf");
    font-weight: 400;
}

// 300 – Light (легкий)
// 400 – Regular (обычный, стандартный вес шрифта, также может быть Normal)
// 500 – Medium (средний, чуть толще обычного)
// 600 – Semi Bold (полужирный)
// 700 – Bold (жирный)
