:root {
    --background-body-color: #f0f1f1;
    --background-tag-color: #707680;
    --background-tag-selected: #edeae9;

    --border-color: black;

    --text-color: #000000;
    // #707d7d

    --cell-color: #5a5050;
    --hint-color: #858585;
    --cell-border-color: #000000;
    --toggle-cell-color: black;
}

body {
    background-color: var(--background-body-color);
}