.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 30px;
  max-width: 250px;
  height: 100vh;
  border-right: 2px solid var(--border-color);
  padding: 20px;
  -webkit-box-shadow: 11px 2px 28px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 2px 28px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 2px 28px 1px rgba(0, 0, 0, 0.75);

  @media (max-width: 1000px) {
    display: none;

    &.open {
      display: flex;
      width: 100%;
      position: absolute;
      background: var(--background-burger-color);
      z-index: 8;
      gap: 15px;
    }
  }
}

%hamburger__line {
  display: inline-block;
  width: 20px;
  height: 1px;
  position: absolute;
  background-color: black;
  transition: transform 0.5s, opacity 0.5s;
  content: '';
}

.game__level-mode {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  background-color: var(--background-tag-color);
  padding: 2px;
  cursor: pointer;
}

.level:hover {
  transform: scale(1.05);
  &.tag-selected {
    transform: scale(1);
  }
}

.game__mode-sound_theme {
  display: flex;
  justify-content: space-around;
}

.header__burger {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 10px;
  top: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 10;
  &:before {
    @extend %hamburger__line;
    transform: translateY(-5px);
  }

  &:after {
    @extend %hamburger__line;
    transform: translateY(3px);
  }

  @media (max-width: 1000px) {
    display: flex;
  }
}

.burger-active {
  transition: transform 0.5s, opacity 0.5s;
  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
  }
}
