* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Rowdies;
    font-weight: 400;
    font-size: 20px;
    color: var(--text-color);
    height: 100vh;
    display: flex;
    align-items: center;
    // flex-direction: row-reverse;

}

.tag-selected {
    border-radius: 10px;
    background-color: var(--background-tag-selected);
    width: 100%;
    color: var(--text-color)
}